@model IEnumerable<ExploreCalifornia.Models.Post>
@{
    Layout = "_Layout";
}

<h1>Explorer's Blog</h1>

@if (!Model.Any())
{
    <p>Oops!, there are no blogs posted yet...</p>
}
else
{
    <p>
        Below are some of the latest posts from some of our explorers.
    </p>

    <div class="blog-posts">
        @foreach (var post in Model)
        {
            @await Html.PartialAsync("_Post", post);
        }
    </div>
}

<div>
    @Html.ActionLink("Add a post", "Create", "Blog");
</div>